{% extends 'base.html' %}

{% block title %}
    Read Articles
{% endblock %}

{% block content %} 
    Read Articles
{% endblock %} 

{% block create %}

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="col-lg-6 mx-auto">
            <h1 class="display-5 fw-bold">{{ el.title }}</h1>
            <h3>{{ el.intro }}</h3>
            <p>Post date: {{ el.date.date() }}</p>
            <a href="/read-article/{{ el.id }}" class="btn btn-warning">More</a>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-lg-6 mx-auto">
            <h1 class="display-5 fw-bold">No Articles</h1>
            <a href="/create-article" class="btn btn-warning">Create</a>
        </div>
    {% endif %}

{% endblock %}