<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">Home</a></li>
            <li class="nav-item"><a href="/features" class="nav-link {% if request.path == '/features' %}active{% endif %}">Features</a></li>
            <li class="nav-item"><a href="/prices" class="nav-link {% if request.path == '/prices' %}active{% endif %}">Pricing</a></li>
            <li class="nav-item"><a href="/faq" class="nav-link {% if request.path == '/faq' %}active{% endif %}">FAQs</a></li>
            <li class="nav-item"><a href="/about" class="nav-link {% if request.path == '/about' %}active{% endif %}">About</a></li>
          </ul>
        </header>
      </div>
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">
            {% block content %}
            
            {% endblock %}
        </h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
          </div>
        </div>
      </div>
      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/features" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="/prices" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="/faq" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">© 2023 КАМВРОТ.РФ</p>
        </footer>
      </div>
    </div>
</body>
</html>